{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
		
		<title>
			{% block title %} 

			{% endblock %}
		</title>
		<link rel="icon" href="{% static 'img/PP Logo.png' %}">
	</head>
	<body>
		<div id="body">
			{% include "navbar.html" %}
			<div class="container text-center">
			<h3 class="mt-5"><strong>Create your QR CODE here</strong></h3>
			<div class="card mt-5" style="width: 100%">
			<div class="card-body">
				
						

			<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
				<h4 class="mx-3">QR Code Type : </h4>
				<input type="radio" class="btn-check" name="btnradio" id="website-check" autocomplete="off" checked>
				<label class="btn btn-outline-primary" for="website-check">WEBSITE</label>

				<input type="radio" class="btn-check" name="btnradio" id="location-check" autocomplete="off">
				<label class="btn btn-outline-primary" for="location-check">LOCATION</label>

				<input type="radio" class="btn-check" name="btnradio" id="contact-check" autocomplete="off">
				<label class="btn btn-outline-primary" for="contact-check">CONTACT</label>

				<input type="radio" class="btn-check" name="btnradio" id="email-check" autocomplete="off">
				<label class="btn btn-outline-primary" for="email-check">EMAIL</label>

				<input type="radio" class="btn-check" name="btnradio" id="text-check" autocomplete="off">
				<label class="btn btn-outline-primary" for="text-check">PLAIN TEXT</label>
			</div>

			<div id="website" class="mt-5">
				{% include "website.html" %}
			</div>
			<div id="location" class="mt-5" hidden>
				{% include "location.html" %}
			</div>
			<div id="contact" class="mt-5" hidden>
				{% include "contact.html" %}
			</div>
			<div id="email" class="mt-5" hidden>
				{% include "email.html" %}
			</div>
			<div id="text" class="mt-5" hidden>
				{% include "text.html" %}
			</div>

			</div>
			</div>
		</div>
			
			{% block body %} 
			
			{% endblock %}
		</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" integrity="sha384-7qAoOXltbVP82dhxHAUje59V5r2YsVfBafyUDxEdApLPmcdhBPg1DKg1ERo0BZlK" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/qrcodejs@1.0.0/qrcode.min.js"></script>
	
	<script src="{% static 'js/script.js' %}"></script>


	</body>
</html>
