{% load static %}
<div class="container-fluid">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-gradient">
    <div class="container-fluid ms-4 mt-2">
      <a class="navbar-brand" href="{% url 'home' %}">
        <!-- <img src="{% static '/img/pp logo.png' %}" alt="Homes" height="32"> -->
        <strong>Home</strong>
      </a>

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>Dashboard</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>Product</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>Customer</strong></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Books</strong></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Expense</a></li>
              <li><a class="dropdown-item" href="#">Report</a></li>
              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Sales</strong></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="">Estimate</a></li>
              <li><a class="dropdown-item" href="">Sales Order</a></li>
              <li><a class="dropdown-item" href="">Invoice</a></li>
              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><strong>Purchase</strong></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Vendor</a></li>
              <li><a class="dropdown-item" href="#">Bill</a></li>
              <li><a class="dropdown-item" href="#">Purchase Order</a></li>
          
            </ul>
          </li>

        </ul>
        <form class="d-flex">
          <div class="input-group mb-3 text-end fw-semibold">
            <input type="text" class="form-control" placeholder="Search..">
            <a class="btn btn-secondary me-2" href="#">
              <img class="rounded-circle" src="#" alt="" height=20>
            </a>

            
          </div>

          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle ms-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="rounded-circle bg-light" src="{% static 'ico/01images.png'%}" alt="" height=40></a>
            <ul class="dropdown-menu dropdown-menu-end me-2" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Company Details</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Preference</a></li>


              <li><hr class="dropdown-divider"></li>

              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
          
            </ul>

          </li>
          
           
            <a href="#" class="btn btn-outline-primary me-2">Register Company</a>
          
        </form>
      </div>
    </div>
  </nav>
</div>