{% load static %}
<div class="container-fluid">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-gradient">
    <div class="container-fluid ms-4 mt-2">
      <a class="navbar-brand" href="{% url 'home' %}">
        <!-- <img src="{% static '/img/pp logo.png' %}" alt="Homes" height="32"> -->
        <strong>Home</strong>
      </a>

      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>WEBSITE QR</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>LOCATION QR</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>CONTACT QR</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><strong>EMAIL QR</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>